<div class="card">
    <div class="card-header">Classes</div>
    <div class="list-group list-group-flush">
        <div class="list-group-item">
            <div class="row">
                <div class="col-4">Class</div>
                <div class="col-4">Subclass</div>
                <div class="col-4">Level</div>
            </div>
        </div>
        {% for level in levels %}
            <div class="list-group-item">
                <div class="row">
                <div class="col-4">{{ level.class }}</div>
                <div class="col-4">{{ level.subClass }}</div>
                <div class="col-4">{{ level.level }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

