{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('character.create') }}">Add</a>
    {% for character in characters %}
        {{ dump(character) }}
    {% endfor %}
{% endblock %}