{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ character.name }}</h1>
    <a href="{{ path('character.update', {slug: character.slug}) }}">
        Edit
    </a>

    {% include 'character/fragments/levels.html.twig' with { character: character, levels: character.levels } only %}
    {% include 'character/fragments/abilities.html.twig' with { character: character, abilities: character.abilities } only %}
    {% include 'character/fragments/skills.html.twig' with { character: character, skills: character.skills } only %}
    {% include 'character/fragments/weapons.html.twig' with { character: character, weapons: character.weapons } only %}


{% endblock %}