* {
    font-family: sans-serif;
}

body {
    background-color: skyblue;
}

[name=update_character_form], [name=create_character_form] {
    > * {
        &:is(div) {
            display: flex;
        }

        label + input {
            margin-inline-start: auto;
        }

        + * {
            margin-top: 1rem;
        }
    }
}
